body {
  background-color: #00418b0f;
  font-family: Corbel;
}
.page {
  position: relative;
  margin-top: -30vh;
}
#header {
  background-image: url(./img/title.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 50vh;
  width: 100%;
  margin-right: 0px;
  margin-left: 0px;
  -webkit-filter: blur(2px); /* Chrome, Opera */
  filter: blur(2px);
}
/* FOR PROFILE */
#v-card {
  /* position: relative; */
  width: 940px;
  height: 400px;
  overflow: hidden;
  /* -webkit-transition: height 1s, color 1s, margin 1s;
  transition: height 1s, color 1s, margin 1s; */
  /* z-index: 1; */
  background: #265460;
  box-shadow: 2px 2px 4px;
}
#profile {
  position: absolute;
  right: 0px;
  z-index: 0;
}
#profile img {
    width: auto;
    height: auto;
    -webkit-clip-path: polygon(25% 0%, 100% 0, 100% 100%, 25% 100%, 0% 50%);
    clip-path: polygon(25% 0%, 100% 0, 100% 100%, 25% 100%, 0% 50%);
}
.card-content {
  padding: 40px;
}
.info-headings h3 {
    display: block;
    width: 100%;
    font-weight: 600;
    color: #c8d6e5;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.29);
}
.info-headings h6 {
    display: block;
    width: 100%;
    font-weight: 400;
    margin-top: -13px;
    margin-bottom: 30px;
    color: #c8d6e5;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.29);
}
#infos .profile-list {
  list-style-type: none;
  padding-inline-start: 0px;
}
#infos .profile-list .title {
  display: block;
  float: left;
  color: #c8d6e5;
  line-height: 38px;
}
#infos .profile-list .content {
    display: block;
    margin-left: 30px;
    font-size: 15px;
    font-weight: 400;
    line-height: 29px;
    color: #c8d6e5;
    font-family: Corbel;
}
#link {
  margin-top: -40px;
  margin-left: 25px;
}
#link .btn-circle {
  width: 35px;
  height: 35px;
  box-shadow: 1px 1px 7px;
  margin-left: 15px;
  /* color: #000000; */
  text-align: center;
  padding: 8.5px 0px;
  font-size: 16px;
  line-height: 0;
  border-radius: 50%;
}
#link .btn-circle:hover {
  color: #FFFFFF;
  box-shadow: 2px 2px 13px #FFFFFF;
}
#link .facebook {
  border-color: #3C5A99;
  background-color: #3C5A99;
  color: #c8d6e5;
}
#link .instagram {
  border-color: #F56040;
  background-color: #F56040;
  color: #c8d6e5;
}
#link .github {
  border-color: #7B429C;
  background-color: #7B429C;
  color: #c8d6e5;
}
/* FOR ABOUT */
#about {
  width: 940px;
  height: 200px;
  box-shadow: 2px 2px 4px;
}
#about .context {
  display: block;
  padding: 40px;
  font-size: 15px;
  font-weight: 400;
  line-height: 29px;
  color: #265460;
  margin: 0;
  text-align: center;
}
/* FOR EDUCATION */
#education {
  width: 940px;
}
#timeline-education::before {
  content: '';
  position: absolute;
  top: 118px;
  bottom: 23px;
  left: 50%;
  height: 54%;
  width: 4px;
  opacity: 0.5;
  background: #004085;
  z-index:-1;
}
#timeline-education .timeline-block {
  z-index: 0;
}
.timeline-icon {
  display: inline-block;
  background: #265460;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  box-shadow: 2px 2px 4px;
  float: right;
}
.timeline-icon h6 {
  text-align: center;
  font-weight: 600;
  color: #FFFFFF;
  padding: 6px 0px;
  font-size: 32px;
  line-height: 1;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.29);
}
.timeline-icon1 {
  display: inline-block;
  background: #265460;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  box-shadow: 2px 2px 4px;
}
.timeline-icon1 h6 {
  text-align: center;
  font-weight: 600;
  color: #FFFFFF;
  padding: 6px 0px;
  font-size: 32px;
  line-height: 1;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.29);
}
.timeline-card {
  display: inline-block;
  width: 400px;
  height: 200px;
  box-shadow: 2px 2px 4px;
  border-left: 5px solid #17a2b8;
  background-image: url(./img/title-blur.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.timeline-card::before {
    content: '';
    width: 75px;
    height: 4px;
    position: absolute;
    top: 21px;
    left: 100%;
    z-index: -2;
    opacity: 0.5;
    background: #004085;
}
.timeline-card1 {
  display: inline-block;
  width: 400px;
  height: 200px;
  box-shadow: 2px 2px 4px;
  border-left: 5px solid #17a2b8;
  float: right;
  background-image: url(./img/title-blur.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.timeline-card1::before {
    content: '';
    width: 75px;
    height: 4px;
    position: absolute;
    top: 21px;
    right: 100%;
    z-index: -2;
    opacity: 0.5;
    background: #004085;
}
.timeline-content {
 padding: 35px 20px 35px 20px;
}
.timeline-content .timeline-title {
  display: block;
  width: 100%;
  font-weight: 500;
  color: #265460;
  font-size: 22px;
}
.timeline-content .timeline-info {
  display: block;
  width: 100%;
  font-weight: 400;
  color: #265460;
  font-size: 16px;
  margin-top: -8px;
}
.timeline-content .btn-info {
  font-size: 10px;
  line-height: 15px;
  padding: 5px;
  margin-right: 0px;
  float: right;
}
.timeline-top {
  margin-top: -75px;
}
.timeline-bot {
  margin-bottom: -75px;
}
.timeline-hold {
  width: 492.5px;
  height: 200px;
}
.hold-right {
  margin-left: 447.5px;
}
/* FOR SKILLS */
#skills-card {
  width: 940px;
  height: 300px;
  box-shadow: 2px 2px 4px;
  background: #265460;
}
#skills-card .card-content {
  padding: 40px;
}
.card-content h5 {
  text-align: center;
  color: #c8d6e5;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.29);
}
.card-content .card-row {
  padding: 0px 15px 15px 10px;
}
.progress-bar {
  background: #c8d6e5;
}
.progress {
  background-color: #17a2b829;
  height: 8px;
}
.skills-text {
  color: #c8d6e5;
  font-size: 15px;
  line-height: 25px;
}
.skills-info {
  margin-bottom: 10px;
}
.fa-spin {
  animation: fa-spin 2s infinite linear;
}
#skills-detail{
  margin-top: 30px;
}
.skill-item {
  height: 480px;
  padding-left: 0px;
  padding-right: 0px;
  box-shadow: 2px 2px 4px;
  background: #265460;
}
.skill-img {
  width: 100%;
  height: 60%;
}
.carousel-item img{
  border-radius: .25rem;
  background-color: #FFFFFF;
}
.card-deck {
  width: 970px;
  height: 480px;
}
.card-body .card-title {
  text-align: center;
  color: #c8d6e5;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.29);
}
.card-body .card-text {
  text-align: center;
  color: #c8d6e5;
  font-size: 15px;
  line-height: 25px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 25%;
  width: 100px;
  background-image: none;
}
.carousel-control-next-icon:after {
  content: '>';
  font-size: 40px;
  color: #265460;
}
.carousel-control-prev-icon:after {
  content: '<';
  font-size: 40px;
  color: #265460;
}
/* FOR ALL */
.right {
  float: right!important;
}
.left {
  float: left!important;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.center {
  margin: 0 auto;
  float: none;
}
.section {
  position: relative;
  padding-top: 20px;
  padding-bottom: 30px;
}
.context {
  font-size: 15px;
  font-weight: 400;
  line-height: 29px;
  color: #265460;
  margin: 0;
}
.clearfix {
  clear: both;
}
.section-title {
  display: table;
  margin: 0 auto;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.29);
  padding-bottom: 25px;
  padding-top: 5px;
}
.section-title .title-icon {
  display: block;
  float: left;
  color: #265460;
  line-height: 38px;
  font-size: 38px;
  margin-right: 8px;
}
.section-title h4 {
  float: right;
}
