h1{
  text-align: center;
}

table{
  margin-left: auto;
  margin-right: auto;
}

thead th{
  color: white;
  background-color: #C0B283;
  padding: 5px;
  width: 115px;
}

tbody td{
  text-align: center;
  background-color: #F4F4F4;
}

tbody th{
  color: white;
  background-color: #373737;
}
